* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
  font: 13px Helvetica, Arial;
}
form {
  bottom: 0;
  margin: 0 5%;
  position: fixed;
  width: 90%;
}
form input {
  background-color: black;
  border: 0;
  border-top: 2px solid rgb(255, 224, 0);
  color: white;
  font-size: 20px;
  padding: 0.8em 1.5em;
  width: 100%;
}
form button {
  background: rgb(255, 224, 0);
  border: none;
  float: right;
  padding: .75em 1.5em;
}
#messages {
  list-style-type: none;
  margin: 0 7%;
  padding: 0;
  width: 86%;
}
#messages li {
  color: #ce9172;
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #252525;
  color: #ffe000;
  text-align: right;
}
