/*OVERALL STYLES*/
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        transition: background 1s, background-color 1s, border .7s;
      }
      *:focus {
          outline: none;
      }
      a {
        cursor: pointer;
      }
      body {
        background-color: rgb(25, 25, 25);
        color: white;
        font: 13px Helvetica, Arial;
      }


/*NAVIGATION STYLES*/
      a#hamburger {
        position: absolute;
        top: 20px;
        left: calc(5% - 18px);
        z-index: 1;
        width: 36px;
        height: 36px;
        box-sizing: border-box;
        padding: 11px 0 0 9px;
        border-radius: 50%;
        border: 1px solid rgba(255, 224, 0, 0.5);
        tap-highlight-color: transparent;
      }
      #hamburger span {
        display: block;
        width: 16px;
        height: 2px;
        background: rgb(255, 224, 0);
        transition: .7s;
        pointer-events: none;
      }
      #hamburger span:nth-child(2) {
        margin: 3px 0;
      }
      .open {
        border-color: #fff;
      }
      .open span {
        background: #fff;
      }
      .open :first-child {
        transform: translateY(5px) rotate(-45deg);
      }
      .open :nth-child(2) {
        transform: rotate(-45deg);
        opacity: 0;
      }
      .open :last-child {
        transform: translateY(-5px) rotate(-135deg);
      }
      nav {
        background: rgba(255, 87, 34, 0.75);
        bottom: 0;
        left: 0;
        padding-top: 76px;
        position: absolute;
        transform: translateX(-100%);
        transition: .5s;
        top: 0;
        width: 200px;
        z-index: 3;
      }
      nav ul {
        margin: 0 0 0 2em;
      }
      nav ul li {
        list-style-type: none;
        font-size: 2em;
        font-weight: bold;
        margin: 1em 0;
        word-wrap: break-word;
      }
      .open + nav {
        transform: none;
      }


/*INPUT STYLES*/
      form {
        bottom: 0;
        margin: 0 5%;
        position: fixed;
        width: 90%;
      }
      form input {
        background-color: rgb(25, 25, 25);
        border: 0;
        border-top: 2px solid rgb(255, 224, 0);
        color: white;
        font-size: 20px;
        padding: 0.8em 1.5em;
        width: 100%;
      }
      form *:focus {
        box-shadow: 0px 0px 5px 1px rgba(255, 224, 0, 0.5) inset;
      }
      form button {
        background: rgb(255, 224, 0);
        border: none;
        right: 0;
        padding: .75em 1.5em;
        position: absolute;
      }


/*MESSAGE STYLES*/
      #messages {
        bottom: 0;
        list-style-type: none;
        margin: 0 7% 15vh;
        height: 85vh;
        padding: 0;
        position: absolute;
        overflow: auto;
        width: 86%;
        word-wrap: break-word;
      }
      #messages li {
        color: #ce9172;
        padding: 5px 10px;
      }
      #messages li:nth-child(odd) {
        background: black;
        color: #ffe000;
        text-align: right;
      }





/*LIGHT THEME*/
.light a#hamburger {
  border: 1px solid rgba(34, 143, 255, 0.5);
}
.light #hamburger span,
.light form button {
  background: rgb(34, 143, 255);
}
.light body {
  background-color: rgb(245,245,245);
}
.light form input {
  background-color: rgb(245,245,245);
  border-top: 2px solid rgb(34, 143, 255);
  color: rgb(25, 25, 25);
}
.light form *:focus {
  box-shadow: 0px 0px 5px 1px rgba(34, 143, 255, 0.5) inset;
}
.light #messages li {
  color: rgb(34, 143, 255);
}
.light #messages li:nth-child(odd) {
    background: rgb(225, 225, 225);
    color: rgb(25, 25, 25);
}
.light nav {
  background: rgba(34, 143, 255, 0.75);
}
