/*OVERALL STYLES*/
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      *:focus {
          outline: none;
      }
      body {
        background-color: rgb(25, 25, 25);
        color: white;
        font: 13px Helvetica, Arial;
      }
/*NAVIGATION STYLES*/
      a#hamburger {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 1;
        width: 36px;
        height: 36px;
        box-sizing: border-box;
        padding: 11px 0 0 9px;
        border-radius: 50%;
        border: 1px solid rgba(0,40,60,.2);
        tap-highlight-color: transparent;
      }
      span {
        display: block;
        width: 16px;
        height: 2px;
        background: rgb(0,40,60);
        transition: .7s;
        pointer-events: none;
      }
      span:nth-child(2) {
        margin: 3px 0;
      }
      .open {
        border-color: rgba(255,255,255,.2);
      }
      .open span {
        background: #fff;
      }
      .open :first-child {
        transform: translateY(5px) rotate(-45deg);
      }
      .open :nth-child(2) {
        transform: rotate(-45deg);
        opacity: 0;
      }
      .open :last-child {
        transform: translateY(-5px) rotate(-135deg);
      }
      nav {
        position: absolute;
        width: 200px;
        top: 0;
        bottom: 0;
        left: 0;
        background: rgb(0,40,60);
        transform: translateX(-100%);
        transition: .5s;
      }
      .open + nav {
        transform: none;
      }
/*INPUT STYLES*/
      form {
        bottom: 0;
        margin: 0 5%;
        position: fixed;
        width: 90%;
      }
      form input {
        background-color: rgb(25, 25, 25);
        border: 0;
        border-top: 2px solid rgb(255, 224, 0);
        color: white;
        font-size: 20px;
        padding: 0.8em 1.5em;
        width: 100%;
      }
      form button {
        background: rgb(255, 224, 0);
        border: none;
        right: 0;
        padding: .75em 1.5em;
        position: absolute;
      }
/*MESSAGE STYLES*/
      #messages {
        bottom: 0;
        list-style-type: none;
        margin: 0 7% 15vh;
        height: 85vh;
        padding: 0;
        position: absolute;
        overflow: auto;
        width: 86%;
        word-wrap: break-word;
      }
      #messages li {
        color: #ce9172;
        padding: 5px 10px;
      }
      #messages li:nth-child(odd) {
        background: black;
        color: #ffe000;
        text-align: right;
      }
